/*********/
/* FONTS */
/*********/
@font-face {
	font-family: 'Bell MT Regular';
	src:url("../fonts/bell.ttf") format("truetype");	
}


@font-face {
	font-family: 'Bell MT Italic';
	src:url("../fonts/BellMTItalic.otf") format("opentype");	
}

@font-face {
	font-family: 'Centaur';
	src:url("../fonts/CENTAUR.TTF") format("truetype");	
}

@font-face {
	font-family: 'Poppins';
	src:url("../fonts/Poppins-Regular.ttf") format("truetype");	
}


/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
  margin: 0;
  padding: 0;
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* STYLING BODY*/
/****************/

/**** STYLING HEADER ****/


/* **** STYLING NAV **** */

nav{
	padding-top: 2em;
	padding-right: 2em;
	/* position: absolute; */
}

nav ul{
	list-style-type: none;
	display: flex;
	gap: 2em;
}

nav ul li a{
	color: white;
	text-decoration: none;
}

nav ul li a:hover{
	text-decoration: underline;
}



header{
	width: 100%;
	height: 100vh;
	background-color: #F09BB9;
	display: flex;
	flex-direction: column;
	align-items: end;
	justify-content: center;
	color: white;
}

.contentinheader{
	width: 100%;
	height: 100vh;
	background-color: #F09BB9;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
}

header div{
	display: inline-block;
}


h1{
	/* font-size: 3.5em; */
	font-size: clamp(1.25em, 5vw, 3.5em);
	font-family: 'Bell MT Regular';
	font-weight: lighter;

	overflow: hidden;
	border-right: .10em solid white;
	white-space: nowrap;
	animation: typing 4.5s infinite;
	width: 0;
}


@keyframes typing {
	from { width: 1em }
	to { width: 100% }
}

.designerdeveloper{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 2em;
	gap: 1em;
}

.designerdeveloper img{
	width: 50%;
}

@media (max-width:520px){
	.designerdeveloper img{
		width: 8em;
	}
}

header p{
	font-family: 'Bell MT Regular';
	font-size: 1.6em;
	font-size: clamp(1em, 3vw, 1.6em);
}


header img{
	width: 1em;
}



/**** STYLING MAIN ****/

/* ***** STYLING OVER MIJ EN SKILLS ***** */


main section#overmij{
	display: grid;
	gap: 2em;	
	padding: 4em;
}


main section#overmij h2{
	font-family: 'Bell MT Regular';
	text-transform: uppercase;
	font-size: 2em;
}

.overmijtekst{
	display: grid;
	gap: 1em;
	padding: 1em 0;
}


main section#overmij p{
	font-family: 'Poppins';
	/* width: 90%; */
	max-width: 40em;
	/* font-size: clamp(.5em, 90vw	, 1em); */
	/* font-size: .5em; */
	/* min-width: 20em; */
}

/* main section#overmij div:first-of-type{
	max-width: 40em;
	min-width: 27em;
} */


/* cv button */
.cvbutton{
	background-color: #F09BB9;
	padding: 1em 2em;
	width: 10em;
	border-radius: 30px;
	border: none;
	color: white;
	font-family: 'Bell MT Regular';	
	font-size: 1.1em;
	box-shadow: 0 .28em 0 #FFD1E1;
	transition: .2s;
	text-decoration: none;
	/* display: none; */
}

.cvbutton:hover{
	background-color: #ef7da7;
	box-shadow: 0 .28em 0 #FFD1E1;
	cursor: pointer;
}

.cvbutton:active{
	box-shadow: 0 0 0;
    transform: translateY(.2em);
}



.foto img{
	width: 14em;
	transition: .4s;
}

.foto img:hover{
	transform: scale(1.07) rotate(4deg);
}


.skillsgrid {
	display: grid;
	grid-template-columns: repeat(3, auto);
	gap: 1.3em;
	justify-content: start;
	margin-top: 2em;
}

.skillsgrid li{
	list-style-type: none;
	display: flex;
	place-content: center;
}

.skillsgrid img{
	/* width: 4em; */
	height: 4em;
	transition: .3s;
}

.skillsgrid img:hover{
	transform: scale(1.1);
}

@media (width > 480px) {
	.skillsgrid{
		grid-template-columns:repeat(4, auto);
	}
}

@media (width > 1000px) {
	main section#overmij {
		padding: 8em 10em;
		gap: 2em 6em;

		grid-template-columns: 1fr 1fr;
		grid-template-rows: min-content min-content 1fr;
		grid-template-areas:
			"wbi    foto"
			"wbi    skills"
			"button skills";

		place-items: start;
	}

	.wbi {
		grid-area:wbi;
	}

	main section#overmij button {
		grid-area:button;
	}

	.foto {
		grid-area:foto;
		margin-bottom: 4em;
	}
	
	.skills {
		grid-area:skills;
	}


}





/******** STYLING PORTFOLIO ********************************************************************************************/
main section#portfolio{
	margin-top: 2em;
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	gap: 4em;
	overflow: hidden;
	padding-top: 1em;
	padding-bottom: 8em;
}

main section#portfolio h2{
	font-family: 'Bell MT Regular';
	text-transform: uppercase;
	font-size: 2em;
	/* margin-bottom: 2em; */
	text-align: center;
}

main section#portfolio > section{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* padding: 4em; */
	/* gap: 2em; */
	/* height: 100vh; */
	/* margin-top: 3em; */
	overflow: visible;
	/* margin-left: auto;
	padding-right: 5em; */
	position: relative;
	margin-right: auto;
	margin-left: 0;
	padding-left: 5em;
	padding-right: 0;

}
main section#portfolio > section:nth-of-type(2n){
	/* margin-right: auto;
	margin-left: 0;
	padding-left: 5em;
	padding-right: 0; */
	margin-left: auto;
	margin-right: 0;
	padding-right: 5em;
	
}

main section#portfolio > section:nth-of-type(2n) a img{
	border-right: none;
}


main section#portfolio > section .blob{
	/* width: 24em; */
	width: 40vw;
	min-width: 14em;
	height: 40vw;
	min-height: 14em;
	/* height: 26em; */
	position: absolute;
	z-index: -1;
	/* right:-2em; */
	left:-3em;
	/* left: auto; */
}

main section#portfolio > section:nth-of-type(2n) .blob{
	/* left:-2em; */
	right:-3em;
	left: auto;
}


main section#portfolio h3{
	font-family: 'Bell MT Italic';
	font-weight: lighter;
	font-size: clamp(1em, 3vw, 1.8em);
	padding-bottom: .5em ;
}



/* BUTTONS MET PROJECTIMG */
main section#portfolio section a{
	background-color: transparent;
	border: none;
	transition: .2s;
	width: 40vw;
	min-width: 25em;
}

main section#portfolio section a img:active{
	transform: translateY(.2em);
}

main section#portfolio section a video:active{
	transform: translateY(.2em);
}

main section#portfolio section a img{
	width: 40vw;
	/* width: 100%; */
	min-width: 15em;
	border-radius: 2em;
}

main section#portfolio section a video{
	width: 40vw;
	min-width: 15em;
	border-radius: 2em;
}



/* Styling specifiek per section */

.typosection a video{
	border-bottom: #EED7FB solid .3em;
	border-right: #EED7FB solid .3em;
	transition: .4s;
}

.typosection a video:hover{
	border-bottom: #be6fec solid .3em;
	border-right: #be6fec solid .3em;
	transform: scale(1.02);
}

.typosection .blob{
	background-color: #EED7FB;
	border-radius: 35% 65% 70% 30% / 27% 30% 70% 73% ;
	animation: randomBorderRadius 12s infinite linear;
}

@keyframes randomBorderRadius {
	0% {
		border-radius: 35% 65% 70% 30% / 27% 30% 70% 73%;
	}
	10% {
		border-radius: 60% 40% 65% 35% / 30% 50% 60% 70%;
	}
	20% {
		border-radius: 45% 55% 60% 40% / 33% 40% 60% 67%;
	}
	30% {
		border-radius: 50% 50% 55% 45% / 36% 45% 55% 64%;
	}
	40% {
		border-radius: 55% 45% 50% 50% / 39% 50% 50% 61%;
	}
	50% {
		border-radius: 60% 40% 45% 55% / 42% 55% 45% 58%;
	}
	60% {
		border-radius: 65% 35% 40% 60% / 45% 60% 40% 55%;
	}
	70% {
		border-radius: 70% 30% 35% 65% / 48% 65% 35% 52%;
	}
	80% {
		border-radius: 55% 45% 50% 50% / 39% 50% 50% 61%;
	}
	90% {
		border-radius: 40% 60% 55% 45% / 30% 50% 60% 70%;
	}
	100% {
		border-radius: 35% 65% 70% 30% / 27% 30% 70% 73%;
	}
}

.kconnectsection a img{
	border-bottom: #81ADE7 solid .3em;
	border-left: #81ADE7 solid .3em;
	transition: .4s;
}

.kconnectsection a img:hover{
	border-bottom: #3c88eb solid .3em;
	border-left: #3c88eb solid .3em;
	transform: scale(1.02);
}

.kconnectsection .blob{
	background-color: #81ADE7;
	border-radius: 32% 68% 32% 68% / 29% 17% 83% 71%;
	animation: randomBorderRadius2 10s infinite linear;
}

@keyframes randomBorderRadius2 {
	0% {
		border-radius: 32% 68% 32% 68% / 29% 17% 83% 71%;
	}
	10% {
		border-radius: 50% 50% 35% 65% / 25% 25% 75% 75%;
	}
	20% {
		border-radius: 45% 55% 40% 60% / 30% 20% 70% 70%;
	}
	30% {
		border-radius: 40% 60% 45% 55% / 35% 15% 65% 65%;
	}
	40% {
		border-radius: 35% 65% 50% 50% / 40% 10% 60% 60%;
	}
	50% {
		border-radius: 30% 70% 55% 45% / 45% 5% 55% 55%;
	}
	60% {
		border-radius: 25% 75% 60% 40% / 50% 10% 50% 50%;
	}
	70% {
		border-radius: 20% 80% 65% 35% / 55% 15% 45% 45%;
	}
	80% {
		border-radius: 25% 75% 60% 40% / 50% 20% 50% 50%;
	}
	90% {
		border-radius: 30% 70% 55% 45% / 45% 25% 55% 55%;
	}
	100% {
		border-radius: 32% 68% 32% 68% / 29% 17% 83% 71%;
	}
}

.visualsection a img{
	border-bottom: #F8C380 solid .3em;
	border-right: #F8C380 solid .3em;
	transition: .4s;
}

.visualsection a img:hover{
	border-bottom: #f5b057 solid .3em;
	border-right: #f5b057 solid .3em;
	transform: scale(1.02);
}

.visualsection .blob{
	background-color: #F8C380 ;
	border-radius: 15% 85% 33% 67% / 77% 74% 26% 23%;
	animation: randomBorderRadius3 10s infinite linear;
}

@keyframes randomBorderRadius3 {
	0% {
		border-radius: 15% 85% 33% 67% / 77% 74% 26% 23%;
	}
	10% {
		border-radius: 30% 70% 50% 50% / 70% 60% 40% 30%;
	}
	20% {
		border-radius: 40% 60% 55% 45% / 65% 50% 35% 40%;
	}
	30% {
		border-radius: 50% 50% 60% 40% / 60% 40% 30% 50%;
	}
	40% {
		border-radius: 60% 40% 65% 35% / 55% 30% 25% 60%;
	}
	50% {
		border-radius: 70% 30% 70% 30% / 50% 20% 20% 70%;
	}
	60% {
		border-radius: 60% 40% 65% 35% / 55% 30% 25% 60%;
	}
	70% {
		border-radius: 50% 50% 60% 40% / 60% 40% 30% 50%;
	}
	80% {
		border-radius: 40% 60% 55% 45% / 65% 50% 35% 40%;
	}
	90% {
		border-radius: 30% 70% 50% 50% / 70% 60% 40% 30%;
	}
	100% {
		border-radius: 15% 85% 33% 67% / 77% 74% 26% 23%;
	}
}

.trappedsection a img{
	border-bottom: #F4D5ED solid .3em;
	border-left: #F4D5ED solid .3em;
	transition: .4s;
}

.trappedsection a img:hover{
	border-bottom: #f799e1 solid .3em;
	border-left: #f799e1  solid .3em;
	transform: scale(1.02);
}

.trappedsection .blob{
	background-color: #F4D5ED ;
	border-radius: 77% 23% 94% 6% / 21% 29% 71% 79%;
	animation: randomBorderRadius4 10s infinite linear;
}

@keyframes randomBorderRadius4 {
	0% {
		border-radius: 77% 23% 94% 6% / 21% 29% 71% 79%;
	}
	10% {
		border-radius: 65% 35% 85% 15% / 25% 35% 65% 75%;
	}
	20% {
		border-radius: 60% 40% 75% 25% / 30% 40% 60% 70%;
	}
	30% {
		border-radius: 55% 45% 65% 35% / 35% 45% 55% 65%;
	}
	40% {
		border-radius: 50% 50% 55% 45% / 40% 50% 50% 60%;
	}
	50% {
		border-radius: 45% 55% 50% 50% / 45% 55% 45% 55%;
	}
	60% {
		border-radius: 50% 50% 55% 45% / 40% 50% 50% 60%;
	}
	70% {
		border-radius: 55% 45% 65% 35% / 35% 45% 55% 65%;
	}
	80% {
		border-radius: 60% 40% 75% 25% / 30% 40% 60% 70%;
	}
	90% {
		border-radius: 65% 35% 85% 15% / 25% 35% 65% 75%;
	}
	100% {
		border-radius: 77% 23% 94% 6% / 21% 29% 71% 79%;
	}
}

.bootcampsection a img{
	border-bottom: #B2CED4 solid .3em;
	border-right: #B2CED4 solid .3em;
	transition: .4s;
}

.bootcampsection a img:hover{
	border-bottom: #55a4b6 solid .3em;
	border-right: #55a4b6 solid .3em;
	transform: scale(1.02);
}

.bootcampsection .blob{
	background-color: #B2CED4;
	border-radius: 20% 80% 29% 71% / 29% 75% 25% 71%;
	animation: randomBorderRadius5 10s infinite linear;
}

@keyframes randomBorderRadius5 {
	0% {
		border-radius: 20% 80% 29% 71% / 29% 75% 25% 71%;
	}
	10% {
		border-radius: 30% 70% 40% 60% / 35% 65% 30% 65%;
	}
	20% {
		border-radius: 40% 60% 50% 50% / 40% 60% 35% 60%;
	}
	30% {
		border-radius: 50% 50% 60% 40% / 45% 55% 40% 55%;
	}
	40% {
		border-radius: 60% 40% 70% 30% / 50% 50% 45% 50%;
	}
	50% {
		border-radius: 70% 30% 80% 20% / 55% 45% 50% 45%;
	}
	60% {
		border-radius: 60% 40% 70% 30% / 50% 50% 45% 50%;
	}
	70% {
		border-radius: 50% 50% 60% 40% / 45% 55% 40% 55%;
	}
	80% {
		border-radius: 40% 60% 50% 50% / 40% 60% 35% 60%;
	}
	90% {
		border-radius: 30% 70% 40% 60% / 35% 65% 30% 65%;
	}
	100% {
		border-radius: 20% 80% 29% 71% / 29% 75% 25% 71%;
	}
}

/**** FOOTER STYLING ****/

footer{
	padding: 6em 10em 11em 10em;
	position: relative;
	display: flex;
	flex-direction: column;
	place-content: center;
	justify-content: center;
	text-align: center;
}

footer > div{
	display: flex;
	align-items: baseline;
	justify-content: center;
	gap: 1em;
	margin-top: 1em;
}

footer div > div{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: .5em;
}

/* footer div img{
	width: 5em;
} */

footer > div div:first-of-type img{
	width: 5em;
}

footer > div div:first-of-type p{
	margin-top: .5em;
}

footer > div div:last-of-type img{
	width: 4.5em;
}

footer a{
	color: #111;
	font-family: 'Poppins';
}

footer a:hover{
	color: #F09BB9;
}

footer p{
	color: #111;
	font-family: 'Poppins';
}


/* @tekst */
footer h2{
	font-family: 'Bell MT Regular';
	font-weight: lighter;
	font-size: 2em;
}

footer h2:first-of-type{
	transform: translate(-5%);
}

footer h2:last-of-type{
	transform: translate(5%);
	margin-top: .5em;
	margin-bottom: 1em;
}

footer > p{
	position: absolute;
	/* left: 10em; */
	left: 10%;
	bottom: 2em;
}

/* logo */
footer > img{
	width: 3em;
	position: absolute;
	/* right: 10em; */
	bottom: 2em;
	right: 10%;
}


/**** SCROLLBAR STYLING (bron staat in de bronnenlijst) ****/

::-webkit-scrollbar {
    width: 7px; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #fab5d0; 
}
	
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #f16ba0;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}